<div class="container">
    <div class="card shadow rounded">
        <div class="card-body">
            <a href="/buku/new" class="btn btn-info my-auto">New</a>
            <table class="table ">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Judul</th>
                        <th>Isbn</th>
                        <th>Pengarang</th>
                        <th>Penerbit</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each buku as |item|}}
                    <tr>
                        <td>x</td>
                        <td>{{item.judul}}</td>
                        <td>{{item.isbn}}</td>
                        <td>{{item.pengarang}}</td>
                        <td>{{item.penerbit}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>