<div class="card shadow">
    <div class="card-body">
        <form action="" method="post">
            <div class="form-group">
                <label for="judul">Judul</label>
                <input type="text" name="judul" class="form-control">
            </div>
            <div class="form-group">
                <label for="pengarang">Pengarang</label>
                <input type="text" name="pengarang" class="form-control">
            </div>
            <div class="form-group">
                <label for="penerbit">penerbit</label>
                <input type="text" name="penerbit" class="form-control">
            </div>
            <div class="form-group">
                <label for="isbn">isbn</label>
                <input type="text" name="isbn" class="form-control">
            </div>
            <div class="form-group">
                <label for="penerbit">penerbit</label>
                <input type="text" name="penerbit" class="form-control">
            </div>
            <div class="form-group">
                <label for="nomor_cetak">nomor_cetak</label>
                <input type="text" name="nomor_cetak" class="form-control">
            </div>
            <div class="form-group">
                <label for="jumlah_halaman">jumlah_halaman</label>
                <input type="text" name="jumlah_halaman" class="form-control">
            </div>
            <div class="form-group">
                <label for="tahun_terbit">tahun_terbit</label>
                <input type="text" name="tahun_terbit" class="form-control">
            </div>
            <div class="form-group">
                <label for="sinopsis">Sinopsis</label>
                <textarea name="sinopsis" id="sinopsis" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="cover">cover</label>
                <input type="file" name="cover" id="coer" class="form-control">
            </div>
            <button type="submit" class="btn btn-info">Simpan</button>
        </form>
    </div>
</div>